@model Land_Manager.Models.LandModels.LandListModel

@{
    ViewData["Title"] = "Land";
}

<div class="mb-3">
    <a asp-controller="Land" asp-action="Add" class="btn btn-success btn-sm">Add Land</a>
</div>
<div>
    <div class="row">
        @foreach (var land in Model.Lands)
        {
        <div class="btn btn-primary" style="margin-right: 10px; margin-bottom:5px">
            <a asp-controller="Land" asp-action="Index" asp-route-id="@land.Id">
                <div style="color:white">
                    <div class="row">
                        <div class="item-title col">
                            @land.Address <br />
                            <p class="secondary-text">@land.NumberOfCustomers Customers</p>
                        </div>
                    </div>
                </div>
            </a>
            
        </div>
           
        }
        @if (Model.Lands.Count() == 0)
        {
            <h3 class="mt-2 ml-2">You don't have any lands yet.</h3>
        }
    </div>
</div>